cloudpickle==1.6.0
dataclasses==0.8
future==0.18.2
gym==0.17.3
numpy==1.19.4
opencv-python==4.4.0.46
opengles==0.0.1
protobuf==3.14.0
pygame==2.0.0
pyglet==1.5.0
PyOpenGL==3.1.5
scipy==1.5.4
six==1.15.0
tensorboardX==1.2
torch==1.7.1
typing-extensions==3.7.4.3
gitpython==3.0.8
